#profilepic {
  margin-left: 1em;
 margin-right: 1em;
  margin-bottom: 1em;
  max-width: 200px;
  max-height: 180px;

}

.container1 {
  margin-right: 100px;
  margin-left: 100px;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-size: 40px;
  background-color: teal;
   background: teal;
  border: solid 1px teal;
  background:  teal;
}

.name {
  background-color: teal;
  float: left;
  color: white !important;
  height: 49px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  text-align: center;
  width: 180px;

}


.navsep {
  float: left;
width: 642px;
}

.myp {padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 9px;
}
.navbar-header {
  color: white;
}

.header-color {
  color: teal;
}

.linkcolor {
  color: gray;
}

body {
  background-image:url(upfeathers.png);
}

.box {
  background: white;
  margin-top: 63px;

}

.btn-primary {
  background-color: teal;
  margin-top: -37px;

}

.bottomseperator {
  height: 31px;
}

.centerfooter {
  text-align: center;


    padding-top: 26px;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    text-align: center;
    border: solid 2px white;
    background-color: darkgrey;
    color: white;
    border-top-color: teal;
    border-top-style: solid;
    border-top-width: 5px;
    border-left-color: darkgrey;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-color: darkgrey;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: darkgrey;
}
.contactform {
  width: 100%;
  background: white;
  padding: 1em;

}

.textarea {
  height: 80px;
}
